{
    "name": "component3",
    "url": "file/way/to/jar",
    "require": ["component1", "component2"],
    "deployment": "ALOCALIZED",
    "migrability": "MIGRATABLE",
    "state": "STATELESS",
    "resources": [
        {"name": "CPU", "value": 20},
        {"name": "RAM", "value": 20}
    ]
}