{
	"mac": "00:1E:C9:48:AB:52",
	"ip": "10.194.3.157",
	"deviceState": "ON",
	"statesSupported": ["ON","SLEEP","HIBERNATE","OFF"],
	"consumptionOnMin": 80,
	"consumptionOnMax": 120,
	"consumptionOff": 5,
	"resources":
	[
        {"name": "CPU", "value": 7200},
        {"name": "RAM", "value": 2059984},
        {"name": "ROM", "value": 274}
    ]
}